:local(.com-download-banner) {
  width: 15rem;
  height: 2.6rem;
  background-image: url(https://uploads.codesandbox.io/uploads/user/9538321b-4019-4f14-a472-0d3c163264d8/d7HU-download-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

:local(.fa-times) {
  position: absolute;
  top: 0.04rem;
  left: 0.08rem;
  color: #f2d1d5;
  font-size: 0.46rem;
  font-weight: 200;
}