:local(.com-search-box) {
  width: 100%;
  height: 1.28rem;
  background-color: #f9f9fa;
}

:local(.link-login) {
  float: left;
  width: 1.28rem;
  height: 0.84rem;
  margin: 0.22rem 0;
  line-height: 0.84rem;
}

:local(.fa-user) {
  font-size: .6rem;
  color: #585C64;
}

:local(.ipt-search) {
  float: left;
  width: 8.2rem;
  height: 0.84rem;
  padding-left: 0.28rem;
  margin: 0.22rem 0;
  border-radius: 0.84rem;
  background-color: #f3f4f5;
}

:local(.icon-classify) {
  float: right;
  width: 0.68rem;
  height: 0.68rem;
  margin: 0.3rem 0;
  margin-right: 0.32rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAADFBMVEX5+foiIiI6Ojq7u7yLUEQdAAAALElEQVQoz2NgoBhYhoaG5oAJIEcVSEeACSBHBIRFYIyhwkHxAornRsOAYgAAIHchwW23QM8AAAAASUVORK5CYII=);
  background-size: contain;
}
